equipe_football/club.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/club" xmlns:tns="http://www.example.org/club" elementFormDefault="qualified">

<xs:element name="Championnat">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Equipe" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Nom" type="xs:string"/>
                            <xs:element name="Pays" type="xs:string"/>

                            <!-- Entraîneur -->
                            <xs:element name="Entraineur">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Nom" type="xs:string"/>
                                        <xs:element name="Prenom" type="xs:string"/>
                                        <xs:element name="Nationalite" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <!-- Joueurs -->
                            <xs:element name="Joueurs">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Joueur" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Nom" type="xs:string"/>
                                                    <xs:element name="Prenom" type="xs:string"/>
                                                    <xs:element name="Poste" type="xs:string"/>
                                                    <xs:element name="Numero" type="xs:integer"/>
                                                    <xs:element name="Nationalite" type="xs:string"/>
                                                </xs:sequence>
                                                <xs:attribute name="id" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <!-- Matchs -->
                            <xs:element name="Matchs">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Match" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Adversaire" type="xs:string"/>
                                                    <xs:element name="Date" type="xs:date"/>
                                                    <xs:element name="Stade" type="xs:string"/>
                                                    <xs:element name="Score" type="xs:string"/>
                                                </xs:sequence>
                                                <xs:attribute name="id" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


</xs:schema>

</schema>